# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
    {
        'label': 'Packages'
        'submenu': [
            'label': 'Quarkbox'
            'submenu': [
                { 'label': 'Build', 'command': 'quarkbox:build' }
            ]
        ]
    }
]
